@model DMSModels.DocumentType

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />


<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DocumentType</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DocumentTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocumentTypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DocumentTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Keywords">Keywords</label>
            
            <div class="col-md-10">
                <select size="4" name="Keywords" multiple="multiple" id="Keywords" class="form-control">
                    <option value="aberrocal">Adriana Berrocal</option>
                    <option value="agfebres">Agripina Febres</option>
                    <option value="Alberto.Rodriguez@pr.qbe.com">Alberto Rodriguez</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-multiselect.js"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('[id*=Keywords]').multiselect({
                    includeSelectAllOption: true,
                    enableFiltering: true,
                    maxHeight: 450,
                    enableCaseInsensitiveFiltering: true,
                    buttonWidth: '100%',
                    onChange: function (element, checked) {
                        var brands = $('[id*=Keywords] option:selected');
                        var selected = [];
                        $(brands).each(function (index, brand) {
                            selected.push('  ' + [$(this).text()]);
                        });                        
                    }
                });
            });
        });
    </script>

}
